<h1>Guitar info</h1>
<h2>Name: <%= @guitar.name %></h2>
<h3>Price: <%= @guitar.price %></h3>
<p>About: <%= @guitar.description %></p>
<img src="<%= @guitar.images.first.url %>">
<a href="/guitars">Back to all guitars</a>
<a href="/guitars/<%= @guitar.id %>/edit">Edit guitar</a>
<a href="/guitars/<%= @guitar.id %>" data-method="delete">Destroy guitar</a>